body {
    background: fbfbfb;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    color: #555555;
}

canvas {
    background: #fff;
}

textarea {
  font-family: Courier New;
    font-size: 95%;
}

#content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 0px solid;
    background-color: #c4e1fc;
    border-radius: 25px;
}

.debug {
    display: none;
}

#description {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}